*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}
@keyframes bounceOnce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
}
.hover\:animate-bounceOnce:hover {
  animation: bounceOnce 200ms ease-out;
}

.clip-trapezium {
  clip-path: polygon(8% 0%, 92% 0%, 100% 100%, 0% 100%);
  
}
.clip-triangle {
  clip-path: polygon(0% 0%, 0% 100%, 100% 100%);
  
}
@keyframes animate-bg-change-stats {
  0% { background-color: white; }
  100% { background-color: blue-500; }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
